version: '3.5'

services:
  eventstore:
    image: eventstore/eventstore
    ports:
      - 2113:2113
      - 1113:1113
    environment:
      - EVENTSTORE_DEV=true
      - EVENTSTORE_RUN_PROJECTIONS=All
      - EVENTSTORE_START_STANDARD_PROJECTIONS=true
    networks:
      - backend
    command:
      --dev --enable-external-tcp --ext-ip=0.0.0.0 --int-ip=0.0.0.0 --disable-external-tcp-tls

  mongo:
    image: mongo
    ports:
      - 27017:27017
    networks:
      - backend

  registry-backend:
    build:
      context: .
    depends_on:
      - eventstore
      - mongo
    ports:
      - 3000:3000
    environment:
      - PORT=3000
      - NODE_ID=node_1
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DATABASE=sensrnet
      - EVENT_STORE_PORT=1113
      - EVENT_STORE_HOST=eventstore
      - JWT_SECRET=example-secret-key
    links:
      - eventstore
    networks:
      - backend

networks:
  backend:
    name: backend
    driver: bridge
