version: '3'

services:
  eventstore:
    image: eventstore/eventstore
    ports:
      - 2113:2113
      - 1113:1113
    environment:
      - EVENTSTORE_RUN_PROJECTIONS=All
      - EVENTSTORE_START_STANDARD_PROJECTIONS=true
    networks:
      - backend
  
  mongo:
    image: mongo
    ports:
      - 27017:27017
    networks:
      - backend

  nodejs-cqrs:
    build:
      context: "."
    deploy:
      mode: replicated
      replicas: 1
    depends_on:
      - eventstore
      - mongo
    ports:
      - 3000:3000
    environment:
      - PORT=3000
      - NODE_ID=node_1
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DATABASE=owners
      - EVENT_STORE_PORT=1113
      - EVENT_STORE_HOST=eventstore
    links:
      - eventstore
    networks:
      - backend

networks:
  backend:
    driver: bridge
