apiVersion: apps/v1
kind: Deployment
metadata:
  name: registry-backend
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: registry-backend
        image: sensrnetnl/registry-backend:0.1.0
        env:
        - name: EVENT_STORE_HOST
          value: eventstore-cluster
        - name: EVENT_STORE_PORT
          value: eventstore-tcp
        - name: JWT_SECRET
          valueFrom:
              secretKeyRef:
                name: backend-secret
                key: jwt-secret
        - name: JWT_ACCESS_EXPIRES_IN
          value: "86400"
        - name: JWT_REFRESH_EXPIRES_IN
          value: "604800"
        - name: MONGO_DATABASE
          value: sensrnet
        - name: MONGO_HOST
          value: mongo
        - name: MONGO_PORT
          value: mongo
        ports:
        - name: http
          containerPort: 3000
        resources:
          requests:
            cpu: "500m"
            memory: "256Mi"
          limits:
            cpu: "1"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /api/health
            port: http
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/health
            port: http
          initialDelaySeconds: 5
          periodSeconds: 5
      initContainers:
        - name: check-mongo-ready
          image: mongo:4.4.1
          command: ['sh', '-c',
            'until mongo --host mongo:27017 --eval "printjson(db.serverStatus())";
            do echo waiting for mongo; sleep 10; done;']
