apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: registry-backend
  name: registry-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry-backend
  strategy: {}
  template:
    metadata:
      labels:
        app: registry-backend
    spec:
      containers:
      - env:
        - name: EVENT_STORE_HOST
          value: eventstore-cluster
        - name: EVENT_STORE_PORT
          value: "1113"
        - name: JWT_SECRET
          value: example-secret-key
        - name: JWT_ACCESS_EXPIRES_IN
          value: "86400"
        - name: JWT_REFRESH_EXPIRES_IN
          value: "604800"
        - name: MONGO_DATABASE
          value: sensrnet
        - name: MONGO_HOST
          value: mongo
        - name: MONGO_PORT
          value: "27017"
        - name: NODE_ID
          value: node_1
        - name: PORT
          value: "3000"
        image: sensrnetregistry.azurecr.io/sensrnet/registry-backend:latest
        name: registry-backend
        ports:
        - containerPort: 3000
        resources: {}
      restartPolicy: Always
status: {}
